# Git
.git
.gitignore

# Python
venv/
*.pyc
__pycache__/

# Docker
Dockerfile
.dockerignore

# Data and logs (to be mounted as volumes)
downloads/
models/
ollama_logs/
user_settings.json

# IDE/OS specific
.idea/
.vscode/
.DS_Store
